* {
    box-sizing: border-box;
    text-decoration: none;
    background-color: rgb(135, 167, 158);
    color: white;
  }
  .linkbody{
    color:white;
  }
  .nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;   
  }
  .nav-link{
    font-family: MADE Light;
    font-size: 25px;
    letter-spacing: 2px;
    padding: 0 70px;
    line-height: 50px;
    transition: 1s;
  }
  .nav-link:hover {
    color: rgb(0, 0, 0);
    text-decoration: underline;
  }
  
  .container {
    max-width: 1440px;
    margin: 0 auto;
  }
  .section-profile {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  .logo {
    width: 300px; 
    height: 300px;
    position: relative;
    top: 20px;
    border-radius: 30%;
  }
  .title {
    position: relative;
    padding: 0;
    top: 120px;
    text-align: center;
    line-height: 20px;
    font-size: 30px;
    font-weight: bold;
    font-family: MADE Light EVO;

  }
  .main-container {
    display: flex;
    flex-wrap: wrap;
  }
  .section {
    width: 50%;
  }
  .section-title {
    margin-left: 40px;
    margin-top: 100px;
    text-align: left;
    font-family: MADE Light;
    font-size: 30px;
  }
  .section-list {
    list-style: none;
    text-align: left;
    font-family: MADE Light;
    font-size: 25px;

  }
  .section-item {
    line-height: 60px;
    vertical-align: middle;
  }
  .icons {
    border: 0;
    border-radius: 0;
    cursor: pointer;
    font-size: 20px;
  }

  


  






















  
  
  @font-face {
    font-family: MADE Light EVO;
     src: url(../rsschool-cv/assets/fonts/MADE\ Evolve\ Sans\ Light\ EVO\ \(PERSONAL\ USE\).otf);
   }
   @font-face {
    font-family: MADE Medium EVO;
    src: url(../rsschool-cv/assets/fonts/MADE\ Evolve\ Sans\ Medium\ EVO\ \(PERSONAL\ USE\).otf);
   }
   @font-face {
    font-family: MADE light;
    src: url(../rsschool-cv/assets/fonts/MADE\ Evolve\ Sans\ Light\ \(PERSONAL\ USE\).otf);
   }
   